<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebsiteUrl" value="https://storefront:bardot123@development-ap01-bardot.demandware.net/on/demandware.store" />
    <add key="Browser" value="chrome" />
    <add key="Retry" value="3" />
  </appSettings>
</configuration>